section.section-second
  .container-md
    .section-second__head.txt--center.txt--black
      h2.h2.txt--900.txt--uppercase.section-second__title  Our services
      h4.h4.txt--normal Lorem Ipsum is simply dummy Business industry.
    .row
      .col-lg-4.col-md-6.col-12
        p.border Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam saepe, obcaecati reiciendis labore dignissimos recusandae esse vel architecto beatae iusto laudantium molestiae, distinctio magni in vitae illum amet natus adipisci!
      .col-lg-4.col-md-6.col-12
        p.border Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam saepe, obcaecati reiciendis labore dignissimos recusandae esse vel architecto beatae iusto laudantium molestiae, distinctio magni in vitae illum amet natus adipisci!
      .col-lg-4.col-md-6.col-12
        p.border Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam saepe, obcaecati reiciendis labore dignissimos recusandae esse vel architecto beatae iusto laudantium molestiae, distinctio magni in vitae illum amet natus adipisci!