section.section-third.row.m-0
  .col-12.col-md-6.section-third__img.p-0
  .col-12.col-md-6
    .container-md.section-third__content
      .row
        .col-lg-7.col-md-10.col-12
          h2.h2.txt--white.txt--uppercase About us
          p.txt--sm.txt--white.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
            unknown printer took a galley of type and scrambled it to make a type specimen
            book. It has survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in the ore recently
            with desktop publishing software like Aldus PageMaker including versions of Lorem
            Ipsum