@use "sass:math";
$columns: 12;
$col-size: math.div(100%, $columns);

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: $col-size * 1;
}

.col-2 {
  width: $col-size * 2;
}

@media only screen and (max-width: 600px) {
  .col-sm-12 {
    width: $col-size * 12;
  }
}
