.section-wrap {
  height: 100%;
}

.main-section {
  min-height: calc(100% - #{$header-min-height});
  background: linear-gradient(180deg, $blue 72%, $white 10%);
  &__head {
    padding-top: 82px;
    padding-bottom: 19px;
  }
  &__title {
    padding-bottom: 16px;
  }
  &__form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
  }
  &__input {
    width: calc(100% / 4);
    padding: 8px 5px;
    min-width: 281px;
  }
  &__carousel {
    margin-top: 67px;
    display: flex;
    justify-content: center;
  }
}

.section-second {
  padding-bottom: 100px;
  &__head {
    padding-bottom: 84px;
  }
  &__title {
    margin-bottom: 16px;
  }
}

.section-third {
  background-color: $orange-2;
  position: relative;
  min-height: 623px;
  &__img {
    background-image: url('../assets/img/about_us_img.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
